@font-face {
  font-family: "SokchoBadaDotum";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_1@1.0/SokchoBadaDotum.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  font-weight: 900;
  font-display: swap;
  src: local("Pretendard Black"), url(./woff2/Pretendard-Black.woff2) format("woff2"), url(./woff/Pretendard-Black.woff) format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  font-display: swap;
  src: local("Pretendard ExtraBold"), url(./woff2/Pretendard-ExtraBold.woff2) format("woff2"), url(./woff/Pretendard-ExtraBold.woff) format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: swap;
  src: local("Pretendard Bold"), url(./woff2/Pretendard-Bold.woff2) format("woff2"), url(./woff/Pretendard-Bold.woff) format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-display: swap;
  src: local("Pretendard SemiBold"), url(./woff2/Pretendard-SemiBold.woff2) format("woff2"), url(./woff/Pretendard-SemiBold.woff) format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-display: swap;
  src: local("Pretendard Medium"), url(./woff2/Pretendard-Medium.woff2) format("woff2"), url(./woff/Pretendard-Medium.woff) format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: swap;
  src: local("Pretendard Regular"), url(./woff2/Pretendard-Regular.woff2) format("woff2"), url(./woff/Pretendard-Regular.woff) format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-display: swap;
  src: local("Pretendard Light"), url(./woff2/Pretendard-Light.woff2) format("woff2"), url(./woff/Pretendard-Light.woff) format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 200;
  font-display: swap;
  src: local("Pretendard ExtraLight"), url(./woff2/Pretendard-ExtraLight.woff2) format("woff2"), url(./woff/Pretendard-ExtraLight.woff) format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  font-display: swap;
  src: local("Pretendard Thin"), url(./woff2/Pretendard-Thin.woff2) format("woff2"), url(./woff/Pretendard-Thin.woff) format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 900;
  font-display: swap;
  src: local("Pretendard Black"), url(./woff2-subset/Pretendard-Black.subset.woff2) format("woff2"), url(./woff-subset/Pretendard-Black.subset.woff) format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  font-display: swap;
  src: local("Pretendard ExtraBold"), url(./woff2-subset/Pretendard-ExtraBold.subset.woff2) format("woff2"), url(./woff-subset/Pretendard-ExtraBold.subset.woff) format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: swap;
  src: local("Pretendard Bold"), url(./woff2-subset/Pretendard-Bold.subset.woff2) format("woff2"), url(./woff-subset/Pretendard-Bold.subset.woff) format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-display: swap;
  src: local("Pretendard SemiBold"), url(./woff2-subset/Pretendard-SemiBold.subset.woff2) format("woff2"), url(./woff-subset/Pretendard-SemiBold.subset.woff) format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-display: swap;
  src: local("Pretendard Medium"), url(./woff2-subset/Pretendard-Medium.subset.woff2) format("woff2"), url(./woff-subset/Pretendard-Medium.subset.woff) format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: swap;
  src: local("Pretendard Regular"), url(./woff2-subset/Pretendard-Regular.subset.woff2) format("woff2"), url(./woff-subset/Pretendard-Regular.subset.woff) format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-display: swap;
  src: local("Pretendard Light"), url(./woff2-subset/Pretendard-Light.subset.woff2) format("woff2"), url(./woff-subset/Pretendard-Light.subset.woff) format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 200;
  font-display: swap;
  src: local("Pretendard ExtraLight"), url(./woff2-subset/Pretendard-ExtraLight.subset.woff2) format("woff2"), url(./woff-subset/Pretendard-ExtraLight.subset.woff) format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  font-display: swap;
  src: local("Pretendard Thin"), url(./woff2-subset/Pretendard-Thin.subset.woff2) format("woff2"), url(./woff-subset/Pretendard-Thin.subset.woff) format("woff");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
  font-family: "Pretendard";
  font-weight: 500;
}

h1, h2, h3, h4, h5, p {
  font-family: "Pretendard";
  color: #333;
}

header {
  width: 100%;
  height: 171px;
}

.hbox {
  width: 1170px;
  height: 100%;
  margin: 0 auto;
}

.hbox > .hm {
  width: 100%;
  height: 39px;
  display: flex;
  justify-content: space-around;
}

.hmlist {
  display: flex;
  align-items: center;
  height: 100%;
  width: 1045px;
}

.hmlist li {
  float: left;
  font-size: 14px;
}

.hmlist li a {
  padding: 10px;
  color: #5e5e5e;
}

.hmlist li a:hover {
  opacity: 0.5;
}

.member {
  display: flex;
  align-items: center;
  width: 125px;
  height: 100%;
}

.member li {
  float: left;
  font-size: 14px;
}

.member li a {
  padding: 10px;
  color: #5e5e5e;
}

.member li a:hover {
  opacity: 0.5;
}

.hm2 {
  width: 100%;
  height: 72px;
  display: flex;
  align-items: center;
}

.logo {
  width: 60%;
}

.logo img:nth-of-type(1) {
  padding: 10px 0px 10px 10px;
}

.logo img:nth-of-type(2) {
  padding: 10px 3px;
}

.search {
  width: 280px;
  height: 40px;
  background-color: rgb(230, 230, 230);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search > img {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.search > input {
  width: 220px;
  height: 40px;
  border: none;
  background-color: rgb(230, 230, 230);
}

.user {
  width: 20%;
  display: flex;
  justify-content: flex-end;
}

.user li {
  float: left;
  width: 35px;
  height: 28px;
  margin: 10px;
  padding: 3px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.user li img {
  width: 80%;
  height: 100%;
}

.hm3 {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hm3 > p {
  width: 60px;
  height: 60px;
  font-size: 24px;
  color: #1E9EFF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
}

.hm3 > .category {
  width: 130px;
  height: 20px;
  display: flex;
  justify-content: center;
}

.category img {
  width: 18px;
  cursor: pointer;
}

.category p {
  font-size: 14px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  font-weight: 500;
}

#slidebox {
  width: 100%;
  height: 460px;
}

.slidesize {
  width: 1170px;
  height: 100%;
  background-color: rgb(210, 231, 113);
  margin: 0 auto;
  position: relative;
}

.slidebtn {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
}

.slideul {
  width: 200px;
}

.slideul li {
  float: left;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  height: 35px;
  font-weight: 600;
  cursor: pointer;
}

.slideul li:nth-of-type(1) {
  background-color: #1E9EFF;
  border-radius: 20px;
  color: #fff;
  padding: 5px;
  margin-right: 20px;
  margin-left: 10px;
}

.slidewrap {
  width: 100%;
  height: 400px;
  background-color: skyblue;
  overflow: hidden;
}

.slide {
  width: 1364px;
  height: 400px;
  background-color: rgb(67, 148, 137);
  float: left;
  display: flex;
}

.slide li {
  width: 1024px;
  height: 400px;
  background-color: rgb(39, 88, 153);
  float: left;
  margin-left: 10px;
  border-radius: 5px;
  position: relative;
  animation-direction: reverse;
}

.slide .ms1 {
  background-color: gold;
  flex-grow: 1;
  flex-basis: 0px;
  display: block;
}

.slide .ms2 {
  background-color: rgb(66, 165, 132);
  flex-grow: 0;
  flex-basis: 45px;
  display: block;
}

.slide .ms3 {
  background-color: rgb(57, 30, 179);
  flex-grow: 0;
  flex-basis: 45px;
}

.slide .ms4 {
  background-color: rgb(223, 137, 211);
  flex-grow: 0;
  flex-basis: 45px;
}

.slide .ms5 {
  background-color: orange;
  flex-grow: 0;
  flex-basis: 45px;
}

.slide .ms6 {
  background-color: greenyellow;
  flex-grow: 0;
  flex-basis: 45px;
}

.slide .ms7 {
  background-color: greenyellow;
  flex-grow: 0;
  flex-basis: 45px;
}

.slidetext {
  position: absolute;
  bottom: 35px;
  left: 35px;
}

.slide .ms2 .slidetext {
  display: none;
}

.slide .ms3 .slidetext {
  display: none;
}

.slidetext .pointbox {
  border: 1px solid #fff;
  color: #fff;
  padding: 4px;
  font-size: 10px;
  border-radius: 2px;
}

.slidetext h1 {
  color: #fff;
  margin-bottom: 5px;
  margin-top: 10px;
}

.slidetext p {
  font-size: 17px;
  color: #fff;
  font-weight: 400;
}

.mainprev {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid rgb(226, 226, 226);
  background-color: #fff;
  box-shadow: 1px 1px 2px rgb(180, 180, 180);
  font-size: 16px;
  color: #464646;
  font-weight: 900;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: -10px;
}

.mainprev:hover {
  color: #c2c2c2;
}

.mainnext {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid rgb(226, 226, 226);
  background-color: #fff;
  box-shadow: 1px 1px 2px rgb(180, 180, 180);
  font-size: 16px;
  color: #464646;
  font-weight: 900;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: -10px;
}

.mainnext:hover {
  color: #c2c2c2;
}

#menu {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#menu > .menubar {
  width: 1170px;
  height: 94px;
  display: flex;
  justify-content: center;
}

.menubarul {
  width: 720px;
}

.menubarul li {
  width: 90px;
  height: 100%;
  float: left;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.menubar li img {
  width: 70px;
  height: 70px;
  cursor: pointer;
}

.menubar li p {
  font-size: 13px;
  text-align: center;
  width: 75px;
  height: 24px;
  line-height: 30px;
  cursor: pointer;
  font-weight: 500;
}

#today {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.todaybox {
  width: 1170px;
  height: 360px;
}

.todaybox h2 {
  height: 48px;
  padding-top: 3px;
  margin-left: 10px;
}

.bookbox {
  width: 1170px;
  height: 311px;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

.tobox {
  width: 180px;
  height: 261px;
}

.tobox img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 1px solid rgb(226, 226, 226);
  cursor: pointer;
}

.todaytext {
  width: 180px;
  height: 41px;
  font-size: 16px;
  order: 1;
  cursor: pointer;
  padding-top: 3px;
}

#many {
  width: 100%;
  height: 478px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.manybox {
  width: 1170px;
  height: 408px;
  position: relative;
}

.manybox h2 {
  height: 48px;
  padding-top: 3px;
  margin-left: 10px;
}

.manywrap {
  width: 1170px;
  height: 360px;
  overflow: hidden;
}

.manyslide {
  width: 2340px;
  height: 100%;
}

.manyslide ol {
  width: 380px;
  height: 100%;
  float: left;
  margin: 0px 0px 0px 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.manyslide ol li {
  width: 380px;
  height: 116px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: flex-start;
  margin: 1px;
}
.manyslide ol li img {
  height: 116px;
  border-radius: 4px;
}
.manyslide ol li h5 {
  width: 80px;
  height: 116PX;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
}
.manyslide ol li h4 {
  width: 180px;
  height: 25px;
  font-size: 16PX;
  display: flex;
  align-items: center;
}
.manyslide ol li p {
  font-size: 14px;
  color: #5e5e5e;
}
.manyslide ol li p:hover {
  opacity: 0.5;
}

.manyprev {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid rgb(226, 226, 226);
  background-color: #fff;
  box-shadow: 1px 1px 2px rgb(180, 180, 180);
  font-size: 16px;
  color: #464646;
  font-weight: 900;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: -10px;
}

.manyprev:hover {
  color: #c2c2c2;
}

.manynext {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid rgb(226, 226, 226);
  background-color: #fff;
  box-shadow: 1px 1px 2px rgb(180, 180, 180);
  font-size: 16px;
  color: #464646;
  font-weight: 900;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: -10px;
}

.manynext:hover {
  color: #c2c2c2;
}

.manyslide ol li span {
  font-size: 13px;
  color: rgb(219, 21, 7);
  width: 10px;
}

.person {
  width: 10px;
  font-size: 50px;
}

#mdpick {
  width: 100%;
  height: 344px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.mdpickbox {
  width: 1170px;
  height: 274px;
  position: relative;
}

.mdpickbox h2 {
  height: 48px;
  padding-top: 3px;
  margin-left: 10px;
}

.mdwrap {
  width: 1170px;
  height: 226px;
  overflow: hidden;
}

.mdslide {
  width: 1555px;
  height: 100%;
}

.mdslide li {
  width: 377px;
  height: 100%;
  float: left;
  margin: 0 5px;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
}

.mdslide li:nth-of-type(1) {
  margin-left: 10px;
}

.libox1 {
  width: 100%;
  height: 140px;
  display: flex;
  align-items: flex-end;
}

.mdbbox {
  width: 100%;
  height: 100px;
  background-color: orange;
  border-radius: 5px;
  position: relative;
}

.mdslide li.s1 .mdbbox:nth-of-type(1) {
  background-color: #355B29;
}

.mdslide li.s2 .mdbbox:nth-of-type(1) {
  background-color: #441C84;
}

.mdslide li.s3 .mdbbox:nth-of-type(1) {
  background-color: #742e21;
}

.mdslide li.s4 .mdbbox:nth-of-type(1) {
  background-color: #68A0D3;
}

.mdbbox img {
  position: absolute;
  top: -40px;
  width: 108px;
  height: 140px;
  border-radius: 0px 3px;
  left: 36%;
}

.litbox {
  width: 100%;
  height: 86px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-flow: row wrap;
}

.litbox h4 {
  font-size: 16px;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.litbox a {
  font-size: 14px;
  font-weight: 400;
  color: #6d6d6d;
  padding: 0px 95px;
}

.mdprev {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid rgb(226, 226, 226);
  background-color: #fff;
  box-shadow: 1px 1px 2px rgb(180, 180, 180);
  font-size: 16px;
  color: #464646;
  font-weight: 900;
  cursor: pointer;
  position: absolute;
  top: 45%;
  left: -10px;
}

.mdprev:hover {
  color: #c2c2c2;
}

.mdnext {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid rgb(226, 226, 226);
  background-color: #fff;
  box-shadow: 1px 1px 2px rgb(180, 180, 180);
  font-size: 16px;
  color: #464646;
  font-weight: 900;
  cursor: pointer;
  position: absolute;
  top: 45%;
  right: -10px;
}

.mdnext:hover {
  color: #c2c2c2;
}

#best {
  width: 100%;
  height: 478px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.bestbox {
  width: 1170px;
  height: 408px;
  position: relative;
}

.bestbox h2 {
  height: 48px;
  padding-top: 3px;
  margin-left: 10px;
}

.bestwrap {
  width: 1170px;
  height: 360px;
  overflow: hidden;
}

.bestslide {
  width: 2340px;
  height: 100%;
}

.bestslide ol {
  width: 380px;
  height: 100%;
  float: left;
  margin: 0px 0px 0px 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.bestslide ol li {
  width: 380px;
  height: 116px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: flex-start;
  margin: 1px;
}
.bestslide ol li img {
  height: 116px;
  border-radius: 4px;
}
.bestslide ol li h5 {
  width: 80px;
  height: 116PX;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
}
.bestslide ol li h4 {
  width: 180px;
  height: 25px;
  font-size: 16PX;
  display: flex;
  align-items: center;
}
.bestslide ol li p {
  font-size: 14px;
  color: #5e5e5e;
}
.bestslide ol li p:hover {
  opacity: 0.5;
}

.bestprev {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid rgb(226, 226, 226);
  background-color: #fff;
  box-shadow: 1px 1px 2px rgb(180, 180, 180);
  font-size: 16px;
  color: #464646;
  font-weight: 900;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: -10px;
}

.bestprev:hover {
  color: #c2c2c2;
}

.bestnext {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid rgb(226, 226, 226);
  background-color: #fff;
  box-shadow: 1px 1px 2px rgb(180, 180, 180);
  font-size: 16px;
  color: #464646;
  font-weight: 900;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: -10px;
}

.bestnext:hover {
  color: #c2c2c2;
}

#new {
  width: 100%;
  height: 473px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.newbox {
  width: 1170px;
  height: 403px;
  position: relative;
}

.newbox h2 {
  height: 48px;
  padding-top: 3px;
  margin-left: 10px;
}

.newslidewrap {
  width: 1155px;
  height: 355px;
  overflow: hidden;
  margin-left: 11px;
}

.newslide {
  width: 2316px;
  height: 100%;
}

.newslide li {
  width: 183px;
  height: 100%;
  margin: 0px 10px 0px 0px;
  float: left;
}
.newslide li img {
  width: 100%;
  height: 261px;
  border-radius: 5px;
}
.newslide li h4 {
  width: 180px;
  font-size: 16PX;
  display: flex;
  align-items: center;
  margin-top: 5px;
  font-weight: 500;
}
.newslide li p {
  font-size: 14px;
  color: #5e5e5e;
  margin-top: 5px;
  font-weight: 400;
}
.newslide li p:hover {
  opacity: 0.5;
}

.newprev {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid rgb(226, 226, 226);
  background-color: #fff;
  box-shadow: 1px 1px 2px rgb(180, 180, 180);
  font-size: 16px;
  color: #464646;
  font-weight: 900;
  cursor: pointer;
  position: absolute;
  top: 40%;
  left: -10px;
}

.newprev:hover {
  color: #c2c2c2;
}

.newnext {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid rgb(226, 226, 226);
  background-color: #fff;
  box-shadow: 1px 1px 2px rgb(180, 180, 180);
  font-size: 16px;
  color: #464646;
  font-weight: 900;
  cursor: pointer;
  position: absolute;
  top: 40%;
  right: -10px;
}

.newnext:hover {
  color: #c2c2c2;
}

#wjl {
  width: 100%;
  height: 532px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.wjbox {
  width: 1170px;
  height: 482px;
}

.wjbox h2 {
  height: 48px;
  padding-top: 3px;
  margin-left: 10px;
}

.wjwrap {
  width: 1160px;
  height: 434px;
  margin-left: 11px;
  width: 1149px;
}

.wjlist {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.wjlist li {
  width: 223px;
  height: 434px;
  float: left;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.wjlist li img {
  width: 100%;
}

.wjtext {
  width: 100%;
  height: 220px;
  position: absolute;
  top: 220px;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-content: center;
}

.wjtext h1 {
  font-size: 26px;
  color: #fff;
  width: 100%;
  text-align: center;
  font-weight: 900;
  margin-bottom: 5px;
  font-family: "SokchoBadaDotum";
  line-height: 30px;
}

.wjtext p {
  font-size: 17px;
  height: 20px;
  color: #fff;
  font-weight: 700;
}

.wjlist li:nth-child(1) .wjtext {
  background: linear-gradient(to bottom, rgba(20, 20, 20, 0) 0%, #FE5B8E 20%);
}

.wjlist li:nth-child(2) .wjtext {
  background: linear-gradient(to bottom, rgba(20, 20, 20, 0) 0%, #CFC1A9 20%);
}
.wjlist li:nth-child(2) .wjtext h1 {
  font-size: 22px;
  line-height: 26px;
}

.wjlist li:nth-child(3) .wjtext {
  background: linear-gradient(to bottom, rgba(20, 20, 20, 0) 0%, #6D6F76 20%);
}

.wjlist li:nth-child(4) .wjtext {
  background: linear-gradient(to bottom, rgba(20, 20, 20, 0) 0%, #11278E 20%);
}

.wjlist li:nth-child(5) .wjtext {
  background: linear-gradient(to bottom, rgba(20, 20, 20, 0) 0%, #F64462 20%);
}

#field {
  width: 100%;
  height: 570px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.fieldbox {
  width: 1170px;
  height: 500px;
  position: relative;
}

.fieldbox h2 {
  height: 48px;
  padding-top: 3px;
  margin-left: 10px;
}

.fieldt {
  width: 100%;
  height: 200px;
}

.booklist {
  width: 1150px;
  height: 70px;
  border-bottom: 1px solid rgb(151, 151, 151);
  justify-content: space-between;
  display: flex;
  align-items: flex-start;
  margin-left: 10px;
  margin-bottom: 25px;
}

.booklist li {
  width: 183px;
  height: 70px;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-family: "Pretendard";
  cursor: pointer;
}

.booklist li:hover, .booklist .active {
  border-bottom: 3px #1E9EFF solid;
  color: #1E9EFF;
}

#novelwrap {
  width: 1155px;
  height: 355px;
  margin-left: 11px;
  overflow: hidden;
}

.fslide {
  width: 2316px;
  height: 100%;
}

.fslide li {
  width: 183px;
  height: 100%;
  margin: 0px 10px 0px 0px;
  float: left;
}
.fslide li img {
  width: 100%;
  height: 261px;
  border-radius: 5px;
}
.fslide li h4 {
  width: 180px;
  font-size: 16PX;
  display: flex;
  align-items: center;
  margin-top: 5px;
  font-weight: 500;
}
.fslide li p {
  font-size: 14px;
  color: #5e5e5e;
  margin-top: 5px;
  font-weight: 400;
}
.fslide li p:hover {
  opacity: 0.5;
}

#list_a {
  display: block;
}

#list_b {
  display: none;
}

#list_c {
  display: none;
}

#list_d {
  display: none;
}

#list_e {
  display: none;
}

#list_f {
  display: none;
}

.fdprev {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid rgb(226, 226, 226);
  background-color: #fff;
  box-shadow: 1px 1px 2px rgb(180, 180, 180);
  font-size: 16px;
  color: #464646;
  font-weight: 900;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: -10px;
}

.fdprev:hover {
  color: #c2c2c2;
}

.fdnext {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid rgb(226, 226, 226);
  background-color: #fff;
  box-shadow: 1px 1px 2px rgb(180, 180, 180);
  font-size: 16px;
  color: #464646;
  font-weight: 900;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: -10px;
}

.fdnext:hover {
  color: #c2c2c2;
}

#event {
  width: 100%;
  height: 168px;
  display: flex;
  justify-content: center;
}

.eventbox {
  width: 1170px;
  height: 138px;
  position: relative;
}

.eventbox h2 {
  height: 48px;
  padding-top: 3px;
  margin-left: 10px;
}

.eventwrap {
  width: 1160px;
  height: 90px;
  overflow: hidden;
}

.eventslide {
  width: 3495px;
  height: 100%;
}

.eventslide li {
  width: 376px;
  height: 100%;
  float: left;
  margin-left: 10px;
  background-color: powderblue;
  border-radius: 5px;
  display: flex;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
}

.evtext {
  width: 200px;
  height: 40px;
  color: #fff;
  font-family: "Pretendard";
  font-weight: 700;
  margin: 0px 35px 0px 25px;
  font-size: 16px;
  line-height: 20px;
}

.eventslide li img {
  width: 70px;
  box-shadow: #1f1f1f 1px 0px 80px 1px;
}

.evprev {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid rgb(226, 226, 226);
  background-color: #fff;
  box-shadow: 1px 1px 2px rgb(180, 180, 180);
  font-size: 16px;
  color: #464646;
  font-weight: 900;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: -10px;
}

.evprev:hover {
  color: #c2c2c2;
}

.evnext {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid rgb(226, 226, 226);
  background-color: #fff;
  box-shadow: 1px 1px 2px rgb(180, 180, 180);
  font-size: 16px;
  color: #464646;
  font-weight: 900;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: -10px;
}

.evnext:hover {
  color: #c2c2c2;
}

.eventslide li:nth-of-type(1) {
  background-color: #096377;
}

.eventslide li:nth-of-type(2) {
  background-color: #71BAAF;
}

.eventslide li:nth-of-type(3) {
  background-color: #4a5fd3;
}

.eventslide li:nth-of-type(4) {
  background-color: rgb(158, 65, 212);
}

.eventslide li:nth-of-type(5) {
  background-color: rgb(243, 46, 11);
}

.eventslide li:nth-of-type(6) {
  background-color: rgb(243, 11, 50);
}

.eventslide li:nth-of-type(7) {
  background-color: rgb(108, 34, 143);
}

.eventslide li:nth-of-type(8) {
  background-color: rgb(224, 118, 19);
}

.eventslide li:nth-of-type(9) {
  background-color: rgb(53, 206, 122);
}

#choice {
  background-color: blue;
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.chobox {
  width: 1170px;
  height: 730px;
  background-color: gold;
}

footer {
  width: 100%;
  height: 447px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.ftbox {
  width: 100%;
  height: 376px;
  border-top: 1px solid #e9e9e9;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  float: left;
}

.ftwrap {
  width: 1170px;
  height: 316px;
  display: flex;
  flex-flow: row wrap;
}

.ftlist {
  width: 850px;
  height: 285px;
  float: left;
  display: flex;
  flex-flow: row wrap;
}

.ftlist .fto {
  width: 185px;
  height: 220px;
}

.tt {
  width: 100%;
  height: 24px;
  margin-bottom: 10px;
  font-family: "Pretendard";
  font-weight: 600;
  font-size: 15px;
  display: flex;
  align-items: center;
}

.tt img {
  width: 20px;
  margin-right: 5px;
}

.fto > li {
  height: 24px;
  margin-bottom: 10px;
}

.fto > li p {
  font-size: 15px;
  font-family: "Pretendard";
  width: 100px;
}

.fto > li p:hover {
  opacity: 0.5;
  cursor: pointer;
}

.info {
  width: 370px;
  height: 65px;
}

.info .tt1 {
  margin-bottom: 10px;
  font-family: "Pretendard";
  font-weight: 600;
  font-size: 14px;
}

.info > li {
  float: left;
  font-size: 12px;
  margin-right: 10px;
  cursor: pointer;
}

.info > li:hover {
  opacity: 0.5;
}

.articlebox {
  width: 320px;
  height: 200px;
  display: flex;
  justify-content: flex-end;
}

article {
  width: 44px;
  height: 44px;
  border-radius: 100%;
  float: left;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e9e9e9;
  cursor: pointer;
}

article img {
  width: 35%;
}